* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* nav styles */
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  
  .logo {
    font-size: 1.8rem;
    color: rgb(5, 5, 116);
    padding-left: 20px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
  }
  
  .nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: lightblue;
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  
  .nav__link a:hover {
    background-color: lightcoral;
  }
  
  .hide {
    display: none;
  }
  
  @media screen and (min-width: 600px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
  }


  /*Mountains*/
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .label-selection h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
  }
  
.label-selection > * {
  margin-bottom: 10px;
}
  
  label {
    font-weight: bold;
  }

  .label-selection{
    text-align: center;
    padding: 10px;
  }
  
  #mountain-info {
     margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  column-gap: 10px;
  }
  
  #mountain-image {
    max-width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #mountain-name{
        margin-bottom: 10px;
        text-decoration: underline;
  }
  
  #sunrise-time,
  #sunset-time {
    font-style: italic;
  }

  @media screen and(max-width:768px)
  {

  #mountain-image {
    max-width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

    .label-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
  

  }
  
  
  footer {
    background-color: #ccbdbd;
    color:black;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0; /* Remove default margin to avoid extra space */
  }